**/.dep
**/.libs
**/*.guess
**/*.Plo
**/*.lo
**/*.Po
**/*.o
tags

aclocal.m4
compile
config.h
**/*.log
configure
config.status
config.sub
depcomp
install-sh
itrack_drv.la
libtool
ltmain.sh
missing
xf86-itrack.pc
output.*
itrack.m4
itrack.4
.dirstamp
traces.*
requests
Makefile
stamp-h1


debug_main
libguesture.la
