**/.dep
**/.libs
**/*.guess
**/*.Plo
**/*.lo
**/*.Po
**/*.o
tags

compile
config.h
**/*.log
configure
config.status
config.sub
depcomp
install-sh
itrack_drv.la
libtool
ltmain.sh
missing
output.*
itrack.m4
itrack.4
.dirstamp
traces.*
requests
Makefile
stamp-h1
*.m4
Makefile.in
config.h.in

debug_main
libguesture.la
